[id*='fieldset_anony'] input[type="color"],
[id*='fieldset_anony'] input[type="date"],
[id*='fieldset_anony'] input[type="datetime-local"],
[id*='fieldset_anony'] input[type="datetime"],
[id*='fieldset_anony'] input[type="email"],
[id*='fieldset_anony'] input[type="month"],
[id*='fieldset_anony'] input[type="number"],
[id*='fieldset_anony'] input[type="password"],
[id*='fieldset_anony'] input[type="radio"],
[id*='fieldset_anony'] input[type="checkbox"],
[id*='fieldset_anony'] input[type="search"],
[id*='fieldset_anony'] input[type="tel"],
[id*='fieldset_anony'] input[type="text"],
[id*='fieldset_anony'] input[type="time"],
[id*='fieldset_anony'] input[type="url"],
[id*='fieldset_anony'] input[type="week"],
[id*='fieldset_anony'] select,
[id*='fieldset_anony'] textarea{
	border: navajowhite;
	box-shadow: inset 0 1px 5px rgba(0,0,0,.2);
	background-color: #fff;
	color: #32373c;
	outline: 0;
	transition: 50ms border-color ease-in-out;
	border-radius: 10px;
	padding: 5px 10px;
	min-height: 35px;
	min-width: 200px;
}
[id*='fieldset_anony'] input[type="radio"],
[id*='fieldset_anony'] input[type="checkbox"]{
	min-height: auto;
	min-width: auto;
}

input[type="search"], input[type="tel"], input[type="text"], input[type="email"], input[type="password"], input[type="url"],select, textarea {
	outline: none;
	padding: 10px;
	margin: 5px!important;
	border: none;
	color: #222222;
	border-radius: 6px;
	border: 1px solid #d7d7d7;
	width: calc(100% - 10px);
}
select{
	background-color: #fff;
	min-width: 250px
}

/* -------------- .multi-text -------------- */
[id*='fieldset_anony']  input.multi-text-add { margin-right:10px;}
[id*='fieldset_anony']  .multi-text-btn { float:left;}
[id*='fieldset_anony']  .multi-text-desc { float:left;}
[id*='fieldset_anony']  .multi-text-ul { margin:auto;}
[id*='fieldset_anony']  .multi-text-ul li { display:block; width: 338px; height:37px; color:#fff; position:relative; margin:8px 0 5px 0; background: #b73a4c;}
[id*='fieldset_anony']  .multi-text-ul li.multi-text-default { display:none;}
[id*='fieldset_anony']  .multi-text-ul li a.multi-text-remove { display:block; position:absolute; top:0; right:0; width: 37px; height:37px; overflow: hidden; text-indent: -9999px; color:#34495e; background: #d1354b;  }
[id*='fieldset_anony']  .multi-text-ul li a.multi-text-remove em { width: 37px; height:37px; display: block; overflow: hidden; background:url(imgs/icons/ico-delete.png) no-repeat center center;}
[id*='fieldset_anony']  .multi-text-ul li a:hover.multi-text-remove { background: #FB5656;}
[id*='fieldset_anony']  .multi-text-ul li span { color:#fff; font-weight:bold; line-height:37px; padding:0 17px; font-size:14px; margin:0;}
[id*='fieldset_anony']  a.btn-blue{
	font-size: 13px;
	height: 34px;
	line-height: 34px;
	color: #fff;
	border: 2px solid #ebecec;
	text-decoration: none;
	background: #6860bf;
	padding: 10px;
	font-weight: bold;
	border-radius: 10px;
}

fieldset{
	border:none;
	position:relative;
}

fieldset .iti {
	width: 100%;
	color: #222;
	direction: ltr;
	padding: 0;
	display: flex;
}
fieldset .iti div.iti__arrow{
	padding: 0;
}

.iti__country{
	display: flex;
	align-items: center;
}
*{
	box-sizing: border-box;
}
/* -------------- jQuery UI -------------- */

/* .ui-slider */
.ui-slider { position: relative; text-align: left; background: #ebedef; z-index: 1; width:150px; float:left; margin:0 14px;}
.ui-slider .ui-slider-handle { background:#b73a4c; position: absolute; z-index: 2; width: 18px; height: 18px; cursor: default; border: none; outline: none; border-radius:9px;}
.ui-slider .ui-state-hover, .ui-slider .ui-state-active { background:#b73a4c;}
.ui-slider .ui-slider-range { background: #d1354b; position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: 12px; border-radius:6px;}
.ui-slider-horizontal .ui-slider-handle { top: -3px; margin-left: -13px; }
.ui-slider-horizontal .ui-slider-range { /*! top: 0; */ height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; border-radius:6px;}
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

[id*='fieldset_anony']  .form-table input.sliderbar_input { width:44px;}
[id*='fieldset_anony']  tr td span.sliderbar_desc { float:left; width:163px;}

.anony-input-lable{
	display: block!important;
	font-weight: bold;
}
.anony-form-group-heading{
	background-color: #fff;
	color: #333;
	padding: 8px;
	font-size: 25px;
	position:relative;
	box-shadow: 0px 0px 5px 0px rgba(157,151,151,0.68);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(157,151,151,0.68);
	-moz-box-shadow: 0px 0px 5px 0px rgba(157,151,151,0.68);
	border-radius: 5px;

}
.anony-metabox-layout-wrapper{
	list-style-type: none;
	display: flex;
}
.anony-metabox-layout-wrapper li{
	margin: 0 5px 0 0;
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(157,151,151,0.68);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(157,151,151,0.68);
	-moz-box-shadow: 0px 0px 5px 0px rgba(157,151,151,0.68);
}

a.anony-metabox-tab-item{
	display: flex;
	width: 100%;
	height: 100%;
	padding: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.anony-form-group-heading > i{
	position: absolute;
	left: 30px;
	top: 35%;
	cursor: pointer
}
.anony-form-group-container.collapsible, .anony-tabbed-metabox .anony-form-group-heading-tag{
	display:none
}

.anony-btn-close, .anony-remove-tab{
	font-weight: bold;
	padding: 5px;
	border: 1px solid #f25050;
	max-width: 70px;
	text-align: center;
	text-decoration: none;
	background: #f25050;
	color: #fff;
	border-radius: 5px;
}
.anony-anchor-button{
	padding: 5px 10px;
    background-color: green;
    color: #fff;
    margin: 10px 0;
    border-radius: 3px;
    display: inline-block;
}
.anony-anchor-button:hover, .anony-anchor-button:focus, .anony-anchor-button:visited, .anony-anchor-button:active{
	color: #fff;
	background-color: rgb(4, 86, 4);
}
.multi-text-btn:focus,.anony-btn-close:focus, .anony-remove-tab:focus{
	color:#b73a4c;
}

.multi-text-btn:hover,.anony-btn-close:hover, .anony-remove-tab:hover{
	color:rgb(209, 53, 75);
	background: #fff;
}
[id*='fieldset_anony']  .form-table input.small-text{
	min-width: 150px;
}
fieldset .anony-form-heading{
	color:#000
}
.anony-label{
	font-weight: bold;
	margin: 15px;
	vertical-align:top;
	margin: 0;
}
.input-field-description{
	padding: 20px;
	background-color: #fbeccf;
	border-radius: 10px;
	box-shadow: 1px -1px 5px 0px rgba(156,156,156,0.27);
	-webkit-box-shadow: 1px -1px 5px 0px rgba(156,156,156,0.27);
	-moz-box-shadow: 1px -1px 5px 0px rgba(156, 156, 156, 0.27);
}
.anony-metabox-tab-item.opened{
	background-color: #000;
	color: #fff;
}
.icon{
	margin: 5px;
}
.icon::before {
	content: attr(data-icon);
	font-family: "Pictos" !important;
	font-weight: normal;
	line-height: 0;
	font-size: 1.4em;
	text-transform: none;
}
.anony-inputs-row{
	display: flex;
	align-items: center;
}

[id*='fieldset_anony'] input[type= "checkbox"]{
	margin: 0 5px;
	border-radius: 2px !important;
}

[id*='fieldset_anony'] {
	background-color: #fff;
	padding: 20px;
}
[id*='fieldset_anony']  > h1{
	text-align: center;
	font-family: "EXO";
}
input[type=tel]{
	direction: ltr;
	text-indent: 10px;
}
#options-wrap{
	display: flex;
	max-width: 960px;
	margin-top: 50px;
	min-height: 768px;
}
#anony-inputs-nav{
	width: 20%;
	background-color: rgb(209, 53, 75);
	box-shadow: 10px 5px 6px #dbd1d1;
}
.anony-nav-link,.anony-nav-item{
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	font-family: 'Anton'
}
.anony-nav-link:hover{
	color: #ffffff;
}
.anony-nav-link{
	padding: 0 5px;
	display: block;
	width: 100%;
}
.anony-nav-item {
	display: flex;
	padding: 0 5px;
	width: 100%;
	border-bottom: 1px solid;
	box-sizing: border-box;
	align-items: center;
	align-items: center;
}


.anony-nav-item:hover{
	color: #ffffff;
	background: #871928;
}
.anony-featured-cat, .rev_slider{
	display: none;
}

.home_slider_{
	display: none;
}

.slider_{
	display: none;
}

.show-in-table{
	display: table-row;
}
#options-sections{
	width: 70%;
}
.anony-hidden-radio{
	display: none;
}

.anony-for-hidden-radio{
	cursor: pointer;
	padding: 10px;
	border: 1px solid #cac4c4;
	border-radius: 8px;
}

.anony-hidden-radio-selected, .anony-for-hidden-radio:hover{
	border: 1px solid rgba(47,191,12,0.75);
	box-shadow: 0px 0px 5px 1px rgba(47,191,12,0.75);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(47,191,12,0.75);
	-moz-box-shadow: 0px 0px 5px 1px rgba(47,191,12,0.75);
}
.anony-radio-img input[type="radio"]{display: none}
.anony-radio-img{padding: 5px;border:1px solid #d8d9d8;;}
.anony-radio-item{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
}
.anony-radio-img-selected{border: 1px solid #ff3600}

.anony-section-group > h2{
	padding: 50px 10px;
	font-size: 35px;
	color: #ffffff;
	background-color: rgb(209, 53, 75);
	margin: 0;
	border-bottom-left-radius: 0;
	font-family: "EXO";
	text-align: center;
	box-shadow: 5px 10px 6px #dbd1d1;
}

.submit,.form-table{
	margin: 15px;
}

.anony-section-group{
	display: none;
}
.anony-show-section{
	display: block;
}

.regular-text{
	width: 20em;
}

.anony-section-group .form-table tr {
	border-bottom: 2px solid #ebecec;
}

.anony-section-warning{
	font-weight: bold;
	color: #f6f6f6;
	padding: 10px;
	background-color: #871928;
	margin: 5px;
	border-left: 6px solid #230005;
}
.has-switch {
	margin-right: 15px;
	border-radius: 30px;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	text-align: left;
	width: 80px;
	box-sizing: border-box;
	/* -webkit-mask: url(../img/switch-mask.png) 0 0 no-repeat;
	mask: url(../img/switch-mask.png) 0 0 no-repeat;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.has-switch input[type="checkbox"] {
	display: none;
}
.has-switch > div {
	width: 162%;
	position: relative;
	top: 0;
}
.has-switch > div.switch-on {
	left: 0;
}

.has-switch > div.switch-off {
	left: -63%;
}
.has-switch > div.switch-animate {
	-webkit-transition: left .25s ease-out;
	-moz-transition: left .25s ease-out;
	-o-transition: left .25s ease-out;
	transition: left .25s ease-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.has-switch > div.switch-off label {
	background-color: #999;
	border-color: #bbb;
	-webkit-box-shadow: -1px 0 0 rgba(255,255,255,0.5);
	-moz-box-shadow: -1px 0 0 rgba(255,255,255,0.5);
	box-shadow: -1px 0 0 rgba(255,255,255,0.5);
}

.has-switch > div.switch-on label {
	background-color: #9A3E4B;
}

.form-table td fieldset .has-switch label,.postbox fieldset .has-switch label, fieldset .has-switch label {
	border: 4px solid #230005;
	border-radius: 50%;
	float: left;
	height: 29px;
	position: relative;
	vertical-align: middle;
	width: 29px;
	z-index: 100;
	margin: 0 -15px 0 -14px!important;
	padding: 0;
	-webkit-transition: .25s ease-out;
	-moz-transition: .25s ease-out;
	-o-transition: .25s ease-out;
	transition: .25s ease-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.has-switch span.switch-left {
	border-radius: 30px 0 0 30px;
	background-color: #871928;
	border-left: 1px solid transparent;
}
.has-switch span.switch-right {
	border-radius: 0 30px 30px 0;
	background-color: #bbb;
	color: #fff;
	text-indent: 7px;
}

.has-switch span {
	cursor: pointer;
	font-size: 14px !important;
	font-weight: 600 !important;
	float: left;
	height: 29px;
	line-height: 19px !important;
	padding-bottom: 6px;
	padding-top: 5px;
	position: relative;
	text-align: center;
	width: 50%;
	z-index: 1;
	margin: 0 !important;
	color: #fff !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: .25s ease-out;
	-moz-transition: .25s ease-out;
	-o-transition: .25s ease-out;
	transition: .25s ease-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.form-error{
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.19);
	-webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.19);
	list-style-type: none;
	background: #fff;
	margin: 5px;
	color: #c13838;
}
.fieldset-location div{
	position: relative;
}

.fieldset-location svg{
	padding: 3px;
	background-color: #5757e1;
	border-radius: 50%;
}

.fetch-location-button, .anony-field-icon{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 12.5px;
	right: 12.5px;
}
fieldset .iti input, fieldset .iti input[type=text], fieldset .iti input[type=tel] {
	margin: 5px!important;
}
.slider_show, .home_slider{
	display: table-row;
}
.form-table th{
	font-family: "Gugi";
}

.anony-dropdown{
	display: none;
	background: #b73a4c;
}
.anony-dropdown .anony-nav-item{
	width: auto;
}
#anony-inputs-nav ul{
	padding-top: 0;
	margin-top: 0;
	border-bottom: 1px solid #fff;
}
#anony-inputs-nav ul li{

	margin: 0;
}
#anony-inputs-nav ul li div{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	border-bottom: 1px solid #fff;
}

.toggle-dropdown{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 50px;
	color: #fff;
	background: #871928;
	font-size: 20px;
	top: 0;
	left: 0;
}
.farb-popup {
	position: absolute;
	background-color: #fff;
	border: 2px solid #EBECEC;
	padding: 5px;
	z-index: 100;
}
.form-table td{
	display: flex;
	flex-direction: column;
}
button{
	outline: none;
	padding: 8px 30px;
}
.anony-form .button-primary {
	background: #d1354b;
	border-color: #d1354b #d1354b #d1354b;
	box-shadow: 0 1px 0 #d1354b;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #d1354b,1px 0 1px #d1354b,0 1px 1px #d1354b,-1px 0 1px #d1354b;
}

.wp-person a:focus .gravatar, .media-icon img {
	color: #ffffff;
	box-shadow: none;
	outline: none;
}
.wp-core-ui .button-primary:focus {
	box-shadow: 0 1px 0 #941e1e, 0 0 2px 1px #d1354b;
}
.wp-core-ui .button-primary:hover,.wp-core-ui .button-primary:focus{
	background: #941e1e;
	border-color: #941e1e;
}

.anony-multi-value{
	margin: 5px 0;
}
.anony-multi-value-flex fieldset{
	border: none;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-bottom: 10px;
}

.anony-multi-value-flex{
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between!important;
	margin-bottom:10px;
	background-color: #d9d9d933;
	border-radius: 10px;
	padding: 20px;
}

.anony-multi-value-wrapper{
	display: block;
}

.anony-flex-column{
	display: flex;
	flex-direction: column;
}

.anony-flex-column-center{
	display: flex;
	flex-direction: column;
	align-items: center!important;
}

.tabs-ul{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.tabs-ul li{
	position: relative;
}

.tabs-ul li label{
	min-width: auto;
}
.anony-upload-plus{
	height: 25px;
	width: 25px;
	background-color: rgb(255,255,255);
}
.uploads-wrapper.style-one{
	height: 100px;
	width: 100px;
	position: relative;
	background-position: center;
	background-size: cover;
}
.uploads-wrapper.style-two::before{
	content: '';
	display: flex;
	position: absolute;
	bottom: 0px;
	left: 0;
	z-index: -1;
	right: 0;
	margin: auto;
	width: 40px;
	height: 30px;
	border-radius: 50%;
	background-color: transparent;
	box-shadow: 0px 0px 20px 10px rgb(104 104 104);
	-webkit-box-shadow: 0px 0px 20px 10px rgb(104 104 104);
	-moz-box-shadow: 0px 0px 20px 10px rgb(104 104 104);
}
.uploads-wrapper.style-two{
	background-color: #6A9DD2;
	height: 80px;
	width: 120px;
	border-radius: 10px;
	margin: auto;
	position: relative;
	margin-top: 20px;
}
.uploads-wrapper.style-two span.anony-uploaded-preview{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	height: 80px;
	width: 80px;
	background-color: #dadada;
	border-radius: 10px;
	position: relative;
	top: -20px;
	padding: 20px;
	background-position: center;
	background-size: cover;
}
.uploads-wrapper.style-two span.anony-uploaded-preview svg{
	z-index: 2;
}
.uploads-wrapper.style-two:not(.has-value) span.anony-uploaded-preview::after{
	content: '';
	display: flex;
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #000;
	background: rgb(0,0,0);
	background: -moz-linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0.5) 100%);
	background: -webkit-linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0.5) 100%);
	background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=0.5);
	opacity: 0.75;
}

.uploads-wrapper.style-two a.style-two{
	display: flex;
	justify-content: center;
	position: relative;
}
.uploads-wrapper.style-one::before{
	content: '';
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.5;
}
.uploads-wrapper.style-one, .anony-upload-plus{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px dashed #000;
	border-radius: 3px;
}
.uploader-trigger.style-one{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}
.anony-tabs div{
	width: 100%;
}
.anony-tab-item{
	width: 40% !important;
	display: flex;
	flex-direction: column;
	float: left;
	margin: 0 20px;
}

.file-preview-wrapper{
	display: inline-flex;
	flex-direction: column;
	max-width: 80px;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.file-preview-wrapper span{
	word-break: break-all;
}
.anony-gallery-thumbs-wrap{
	display: flex;
	flex-direction: column;
}

.anony-form .anony-gallery-thumbs-wrap .button-primary.anony-opts-gallery{
	margin: 0;
}

.anony-term-meta-wrap fieldset .anony-gallery-thumbs-wrap{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #b5afaf;
	border-radius: 10px;
	position: relative;
	text-align: center;
}
div.anony-gallery-thumbs > img{
	height: 70px;
    width: calc(33.33% - 10px)!important;
    margin: 5px;
    border: 3px solid #e8e8e8;
}
.anony-gallery-thumbs{
	display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    min-height: 100px;
    border: 1px dashed #a2a2a2;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #f0f0f0;
	position: relative;
	padding: 10px;
}
.anony-gallery-buttons{
	display: flex;
	align-items: center;
}
.anony-gallery-buttons a{
	font-size: 12px;
}
div.gallery-item-container{
	display:inline-flex;
	flex-direction:column;
	align-items: center;
	margin-left:15px;
}
a.anony-gallery-item{
	display:block;
	width:50px;
	height:50px;
	background-color: #d2d2d2;
	border-radius: 3px;
	padding:5px
}
a.anony-gallery-item > img {
	width:100%;
	height:100%;
	display:block;
}
.anony-gallery-thumbs::before{
	content: '+';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 25px;
	width: 25px;
	border: 1px dashed #a2a2a2;
    border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.anony-opts-gallery, .anony-opts-clear-gallery{
	margin: 10px;
	min-width: 100px;
	text-align: center;
	display: block;
}
.uploads-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
