.anony-label{
   font-weight: bold;
   margin: 15px 0;
}
.icon{
	margin: 5px;
}
.icon::before {
	content: attr(data-icon);
	font-family: "Pictos" !important;
	font-weight: normal;
	line-height: 0;
	font-size: 1.4em;
	text-transform: none;
}
.active{
	background:#871928;
}
.anony-options-row{
	display: flex;
	align-items: center;
}

#anony-logo{
	padding: 27px 10px;
	background-color: #f8f8f8;
	text-align: center;
}
#anony-options-wrapper{
	background-color: #fff;
	padding: 20px;
	margin: 20px;
}
#anony-options-wrapper > h1{
	text-align: center;
	font-family: "EXO";
}
#options-wrap{
	display: flex;
	max-width: 960px;
	margin-top: 50px;
	min-height: 768px;
}
#anony-options-nav{
	width: 25%;
	background-color: rgb(209, 53, 75);
	box-shadow: 10px 5px 6px #dbd1d1;
}
.anony-nav-link,.anony-nav-item{
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	font-family: 'Anton'
}
.anony-nav-link{
	padding: 0 20px;
}
.anony-nav-item{
	display: block;
	padding: 0 5px;
	width: 100%;
	border-bottom: 1px solid;
	box-sizing: border-box;
}

.anony-nav-item:hover{
	color: #ffffff;
	background: #871928;
}
.anony-featured-cat, .rev_slider{
	display: none;
}

.home_slider_{
	display: none;
}

.show-in-table{
	display: table-row;
}
#options-sections{
	width: 70%;
}
.anony-section-group > h2{
	padding: 50px 10px;
	font-size: 35px;
	color: #ffffff;
	background-color: rgb(209, 53, 75);
	margin: 0;
	border-bottom-left-radius: 0;
	font-family: "EXO";
	text-align: center;
	box-shadow: 5px 10px 6px #dbd1d1;
}

.submit,.form-table{
	margin: 15px;
}

.anony-section-group{
	display: none;
}
.anony-show-section{
	display: block;
}

.regular-text{
	width: 20em;
}

.anony-section-group .form-table tr {
	border-bottom: 2px solid #ebecec;
}

.anony-section-warning{
	font-weight: bold;
	color: #f6f6f6;
	padding: 10px;
	background-color: #871928;
	margin: 5px;
	border-left: 6px solid #230005;
}
.slider_show, .home_slider{
	display: table-row;
}
.form-table th{
	font-family: "Gugi";
}

.anony-dropdown{
	display: none;
	background: #b73a4c;
}
.anony-dropdown .anony-nav-item{
	width: auto;
}
#anony-options-nav ul{
	padding-top: 0;
	margin-top: 0;
	border-bottom: 1px solid #fff;
}
#anony-options-nav ul li{

	margin: 0;
}
#anony-options-nav ul li div{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	border-bottom: 1px solid #fff;
}

.toggle-dropdown{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 50px;
	color: #fff;
	background: #871928;
	font-size: 20px;
	top: 0;
	left: 0;
}
.farb-popup {
	position: absolute;
	background-color: #fff;
	border: 2px solid #EBECEC;
	padding: 5px;
	z-index: 100;
}
.form-table td{
	display: flex;
	flex-direction: column;
}
.wp-core-ui .button-primary {
	background: #d1354b;
	border-color: #d1354b #d1354b #d1354b;
	box-shadow: 0 1px 0 #d1354b;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #d1354b,1px 0 1px #d1354b,0 1px 1px #d1354b,-1px 0 1px #d1354b;
}

.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img {
	color: #ffffff;
	box-shadow: none;
	outline: none;
}
.wp-core-ui .button-primary:focus {
	box-shadow: 0 1px 0 #941e1e, 0 0 2px 1px #d1354b;
}
.wp-core-ui .button-primary:hover,.wp-core-ui .button-primary:focus{
	background: #941e1e;
	border-color: #941e1e;
}

.custom-logo-link{
	display: block;
}

.custom-logo-link img{
	display: block;
	width:100%;
}
